body {
  font-family: "Helvetica";
  /*background-color: #f5f5f5;*/
  color: #0B0B45;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-attachment: fixed;*/
  background: radial-gradient(circle, #ffffff, #0065F1);
}

.header {
  margin: 40px 0;
  margin-left: 20px;
}

.header__avatar {
  border-radius: 50%;
}

.header__title {
  margin: 30px 0 10px 0;
  margin-left: 50px;
  font-size: 32px;
  line-height: 1.2;
  font-family: "Helvetica Neue";
}

.header__subtitle {
  color: #477dae;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  margin-left: 30px;
}

.links {
  width: 350px;
  margin-bottom: 40px;
}

.links__header {
  font-family: "Helvetica Neue";
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 15px 0;
}

.links__container {
  list-style-type: none;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.4;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid #dadada;
  width: 280px;
}

.links__link:last-child {
  border-bottom: none;
}

.links__link,
.links__link:visited {
  text-decoration: none;
  color: #1c2e4a;
}

.links__title {
  margin: 0;
  min-width: 100px;
}
.TextAlignCenter{
  display: flex;
  width: 100%;
  justify-content: center;


}

footer {
  margin: 0 0 40px 0;
}
.button-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 320px;
  text-decoration: none;
  background: linear-gradient( #339cff, #ffffff, #007bff);
  border-radius: 20px;
  border: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6); /* Add a subtle box-shadow for the 3D effect */
  transition: box-shadow 0.3s ease;

  font-size: 14px;
  line-height: 1.4;

  color: #13265C;
  text-decoration: none;
}
.button-link:hover {
  background-position: 100%; /* Center the gradient horizontally on hover */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Increase the box-shadow on hover */
}
